<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
        <ul>
            <li>
                <a href="/">/</a>
            </li>
            <li>
                <a href="/home">home</a>
            </li>
            <li>
                <a href="/cards">/cards</a>
            </li>
            <li>
                <a href="/cards/select-topics">/cards/select-topics</a>
            </li>
            <li>
                <a href="/cards/add">/cards/add</a>
            </li>
            <li>
                <a href="/cards/edit">/cards/edit</a>
            </li>
            <li>
                <a href="/cards/quiz">/cards/quiz</a>
            </li>
        </ul>
    </body>
</html>